<div class="container py-3">
  <div class="row">
    <% @users.each do |user| %>    
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow mb-3">
          <div class="card-body p-2">
            <%= link_to user, class: 'd-flex align-items-center text-decoration-none' do %>
              <img  
                src="<%=user.photo || image_url('empty_user.png') %>"
                alt="<%=user.name %>"
                title="<%=user.name %>"
                class="me-2 user-image img-link"
              />
              <h5 class="card-title m-0 p-0 title-link"><%=user.name %></h5>
            <% end %>
            <p class="card-text text-secondary fst-italic mb-1 me-2 p-0 position-absolute bottom-0 end-0">
              Posts: <%=user.posts_counter %>
            </p> 
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
