<div class="container py-3">
  <%=link_to '< Go back', :back, class: 'title-link' %>

  <div class="card shadow user-card">
    <div class="card-body p-2">
      <p class="card-text text-secondary fst-italic position-absolute top-0 end-0 me-2 mt-2">Likes: <%=@post.likes_counter %></p>
      <h3 class="card-title"><%=@post.title %></h3>
      <p class="card-text"><%=@post.text %></p>

      <hr class="mt-4" />
      <span class="badge bg-secondary my-3">Comments (<%=@post.comments_counter %>)</span>

      <% @post.recent_comments.each do |comment| %>
        <div class="mb-3">
          <p class="card-title m-0 p-0 fw-bold"><%=comment.author.name %></p>
          <p class="card-text m-0 p-0"><%=comment.text %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>